body {
    font-family: sans-serif;
    text-align: center;
    justify-content: center;
}

main {
    min-height: 90vh;
}

.flex-container {
    color: #fff;
    padding: 0 0;
    margin-top: 10vh;
    display: inline-block;
}

.characters {
    width: 80px;
    height: 80px;
    font-size: 36px;
    margin: 20px 5px;
    border-radius: 15px;
    border-width: 0px;
}

.characters:hover {
    background-color: darkgray;
}

.characters:active {
    background-color: rgb(74, 74, 74);
    transform: translateY(2px);
}

footer {
    margin-top: auto;
    font-size: 10px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }